/* body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.bg-image {
    background-image: url("images/IMG_9448.jpg");
    filter:blur(4px);
    -webkit-filter: blur(4px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip:content-box;
}
/* 
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 20px;
    text-align: center;
  } */ */


/*body {
    background-color: grey;
}

h1 {
    color: rgb(168, 108, 224);
    border-radius: 20px;
    border: 1px;
    padding: 10px;
    width: 300px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

* {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}

*/

/* Grids */

/*
.grid-container {
    display: grid;
    grid-template-columns: 280px 280px 280px;
    grid-template-rows: 300px 300px 300px 300px;
    justify-content: center;
    justify-items: center;
}

.grid-item {
    padding: 40px;
    font-size: 20px;
    text-align: center;
}

*/

/* Links */

/*
a:link, a:visited {
    background-color: #555555;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  a:hover, a:active {
    color: white;
    background-color: rgb(112, 112, 112);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  */
